<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>NBA Simulation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
</head>
<body>
<script src="https://unpkg.com/vue@3"></script>
<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h2>NBA Simulation</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button type="button" :disabled="disabledButton" v-if="model.ws_event === 0" class="btn btn-success"
                        @click="sendMessage(0)">Start
                </button>
            </div>
        </div>
        <div class="row" v-if="model.ws_event === 1">
            <div class="col-12 text-center ">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
                <br>
                Preparing the simulation...
            </div>
        </div>
        <div class="row" v-if="model.ws_event >= 3">
            <div class="col-12 text-center">
                <h3>Step: {{model.step}}/48</h3>
                <h3>Real Time(Minute): {{model.real_time}}</h3>
                <h3>Virtual Time(Second): {{model.virtual_time}}</h3>
            </div>
        </div>
        <div class="row" v-if="model.ws_event >= 3">
            <div class="col-6" v-for="(data,index) in model.result" :key="index">
                <div class="card" style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{data.home_team_name}} - {{data.away_team_name}}</h5>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Score: {{data.home_team_score}} -
                            {{data.away_team_score}}</h6>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted text-center">Atack Count: {{data.home_team_attack_count}}
                            - {{data.away_team_attack_count}}</h6>
                        <hr>
                        <div class="col-12 p-0 m-0">
                            <div class="w-50 d-inline-block">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title text-center">
                                            {{data.home_team_name}}
                                        </div>
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">3</th>
                                                <th scope="col">2</th>
                                                <th scope="col">Asist</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(homePlayerEvent,eventIndex) in data.home_team_player_events"
                                                :key="`${index}-${eventIndex}`">
                                                <th>{{homePlayerEvent.player_name}}</th>
                                                <td>{{homePlayerEvent.successful_three_point_shoot_count}}</td>
                                                <td>{{homePlayerEvent.successful_two_point_shoot_count}}</td>
                                                <td>{{homePlayerEvent.assist_count}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="w-50 d-inline-block">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title text-center">
                                            {{data.away_team_name}}
                                        </div>
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">3</th>
                                                <th scope="col">2</th>
                                                <th scope="col">Asist</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(awayPlayerEvent,eventIndex) in data.away_team_player_events"
                                                :key="`${index}-${eventIndex}`">
                                                <th>{{awayPlayerEvent.player_name}}</th>
                                                <td>{{awayPlayerEvent.successful_three_point_shoot_count}}</td>
                                                <td>{{awayPlayerEvent.successful_two_point_shoot_count}}</td>
                                                <td>{{awayPlayerEvent.assist_count}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
<script>
    Vue.createApp({
        data() {
            return {
                ws: null,
                model: {
                    ws_event: 0,
                    step: 1,
                    result: [],
                    real_time: 0,
                    virtual_time: 0,
                },
                disabledButton: true,
            }
        },
        methods: {
            sendMessage(message) {
                try {
                    this.ws.send(JSON.stringify(message));
                } catch (e) {
                    alert(e);
                }
            },
            connectWs() {
                try {
                    this.ws = new WebSocket("ws://localhost:8080/ws");
                    this.ws.onmessage = (event) => {
                        let data = JSON.parse(event.data);
                        this.model = {
                            ...data
                        }
                        if (this.model.ws_event === 5) {
                            this.ws.close();
                            alert("Simulation completed");
                        }
                        if (this.model.ws_event === 2) {
                            this.sendMessage(3);
                        }
                    };

                    this.disabledButton = false;
                } catch (e) {
                    alert(e)
                }
            }
        },
        mounted() {
            this.connectWs();
        }
    }).mount('#app')
</script>
</body>
</html>